@font-face {
    font-family: "AlwaysHere";
    src: url("fonts/AlwaysHere.ttf");
}

@font-face {
    font-family: "CandyCane";
    src: url("fonts/CandyCane.ttf");
}

@font-face {
    font-family: "ShippedGoods";
    src: url("fonts/ShippedGoods.ttf");
}

@font-face {
    font-family: "SunnyWinter";
    src: url("fonts/SunnyWinter.ttf");
}

@font-face {
    font-family: "Snowhouse";
    src: url("fonts/Snowhouse.otf");
}
